.Contact-Section {
    margin: 40px 0px 100px 0px;
    padding: 40px 0px;

}

.Contact-Section .title {
    color: #5777ba;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.Contact-Section p {
    color: #47536ed7;
    text-align: center;
    margin: 30px 0px 50px 0px;
}



.contact-info .card {
    text-align: center;
    background-color: #f1f3f6;
    border: 1px solid #0000000d;
    border-radius: 0px;
    margin-bottom: 5px;

}

.Contact-Section .contact-info-content p {
    margin: 5px auto;
    font-size: 15px;
}

.contact-info .card .card-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #5777ba;
}


.form-control {
    border-radius: 2px;

}

.form-control:focus {
    border-color: #5777ba;
}

.contact-btn{
    background-color: #47536e !important;
    color: #e8ecf5 !important;
    margin-right: 20px;
    border-radius: 3px;
    border: none;
    padding: 8px 14px;
    font-size: 15px;
    transition: .3s;
}
.contact-btn:hover{
    background-color: #708bc3 !important;

}


/* Responsive */

@media(max-width:330px) {
    .Contact-Section .title {
     
        font-size: 25px;
      
    }
    
    .Contact-Section p {
       font-size: 14px;
    }
}